# Variables

Variables are containers for storing data values. A variable is created the moment you first assign a value to it.

In [1]:
num = 10
num

10

In [2]:
name = "Abdullah"
name

'Abdullah'

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [4]:
# x here is of type int
x = 20

# x now is of type str
x = "Khan"
x

'Khan'

## Casting

If you want to specify the data type of a variable, this can be done with casting.

In [9]:
x = str(10)
y= int(10)
z = float(10)

x, y, z

('10', 10, 10.0)

## Data Type

We can get the data type of variable using the type() function.

In [10]:
type(num)

int

In [11]:
type(name)

str

## Case Sensitive

In Python variable name are case sensitive.

In [12]:
b = 5
B = "khan"

#B will not overwrite b.
b, B

(5, 'khan')

## Variable Name

A variable can have a short name like x and y or a more descriptive name like age, carname, total_volume

### Legal Variable Names

In [15]:
myname = "Abdullah"
my_name = "Abdullah"
_my_name = "Abdullah"
myName = "Abdullah"
myname2 = "Abdullah"

myname, my_name, _my_name, myName, myname2

('Abdullah', 'Abdullah', 'Abdullah', 'Abdullah', 'Abdullah')

### Illegal Names

In [16]:
2myname = "Abdullah"
my-name = "Abdullah"
my name = "Abdullah"

2myname, my-name, my name

SyntaxError: invalid decimal literal (4164144458.py, line 1)

## Multi words Variables

Variable names with more than one word can be difficult to read.
There are several techniques you can use to make them more readable:

### Camal Case Variable
Each word, except the first, starts with a capital letter:

In [18]:
myFullName = "Abdullah Khan"
myFullName

'Abdullah Khan'

### Pascal case variable
Each word starts with a capital letter:

In [19]:
MyFullName = "Abdullah Khan"
MyFullName

'Abdullah Khan'

### Snake case
Each word is separated by an underscore character:

In [21]:
my_full_name = "Abdullah khan"
my_full_name

'Abdullah khan'