# Variables

Variables are containers for storing data values. A variable is created the moment you first assign a value to it.

In [42]:
num = 10
print(num)

10

In [41]:
name = "Abdullah"
print(name)

Abdullah

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [40]:
# x here is of type int
x = 20

# x now is of type str
x = "Khan"
print(x)

Khan

## Casting

If you want to specify the data type of a variable, this can be done with casting.

In [43]:
x = str(10)
y= int(10)
z = float(10)

print(x)
print(y)
print(z)
x,y,z

10
10
10.0

('10', 10, 10.0)

## Data Type

We can get the data type of variable using the type() function.

In [10]:
type(num)

int

In [11]:
type(name)

str

## Case Sensitive

In Python variable name are case sensitive.

In [44]:
b = 5
B = "khan"

#B will not overwrite b.
print(b)
print(B)

5
khan

## Variable Name

A variable can have a short name like x and y or a more descriptive name like age, carname, total_volume

### Legal Variable Names

In [36]:
myname = "Abdullah"
my_name = "Abdullah"
_my_name = "Abdullah"
myName = "Abdullah"
myname2 = "Abdullah"

print(myname)
print(my_name)
print(_my_name)
print(myName)
print(myname2)

Abdullah
Abdullah
Abdullah
Abdullah
Abdullah

### Illegal Names

In [34]:
2myname = "Abdullah"
my-name = "Abdullah"
my name = "Abdullah"

print(2myname)
print(my-name)
print(my name)

SyntaxError: invalid decimal literal (1574111076.py, line 1)

## Multi words Variables

Variable names with more than one word can be difficult to read.
There are several techniques you can use to make them more readable:

### Camal Case Variable
Each word, except the first, starts with a capital letter:

In [32]:
myFullName = "Abdullah Khan"
print(myFullName)

Abdullah Khan

### Pascal case variable
Each word starts with a capital letter:

In [33]:
MyFullName = "Abdullah Khan"
print(MyFullName)
MyFullName

Abdullah Khan

'Abdullah Khan'

### Snake case

In [30]:
my_full_name = "Abdullah khan"
print(my_full_name)

Abdullah khan

## Many Values to Multiple Variables

Python allows you to assign values to multiple variables in one line:

In [29]:
x,y,z = "Eagle", "Parrot", "Pigeon"

print(x)
print(y)
print(z)

Eagle
Parrot
Pigeon

## One value to Multiple Variables.
We can assign the same value to multiple variables in one line

In [28]:
m = n = o = "Eagle"

print(m)
print(n)
print(o)

Eagle
Eagle
Eagle

## Unpack A Collection
If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [27]:
birds = [ "Eagle", "Parrot", "Pigeon"]
x1, y1, z1 = birds

print(x1)
print(y1)
print(z1)

Eagle
Parrot
Pigeon

## Output Variables
The print() function is often used to output variables.

In [45]:
name = "My name is Abdullah"
print(name)

My name is Abdullah

In the print() function, you output multiple variables, separated by a comma:

In [47]:
a = "My"
b = "name"
c = "is"
d = "Abdullah"

print(a,b,c,d)

My name is Abdullah

We can also use the + operator to output multiple variables:

In [49]:
a = "My "
b = "name "
c = "is "
d = "Abdullah"

print(a + b + c + d)

My name is Abdullah

For numbers, the + character works as a mathematical operator:

In [50]:
num1 = 30
num2 = 20
num3 = 50

print(num1 + num2 + num3)

100

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

In [51]:
num = 10
str = "khan"

print(num + str)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

The best way is to separate the variable in print() function with comma.

In [52]:
num = 10
str = "khan"

print(num, str)

10 khan

## Global Variable

Variables that are created outside of a function are known as global variables. 
Global variables can be used by everyone, both inside of functions and outside.

In [58]:
name = "Abdullah"

def my_name():
    print("My name is " + name)

my_name()

My name is Abdullah

## Local Variable
If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function

In [57]:
# This is Global variable
name = "Afridi"

def my_sir_name():
    # This is Local variable
    name = "Khan"
    print("My name is ", name)
    
my_sir_name()

print("My name is ", name)

My name is  Khan
My name is  Afridi