# Python Data Types

Variables can store data of different types, and different types can do different things.
Python has the following data types built-in by default, in these categories:

1. Text Type:	str
2. Numeric Types:	int, float, complex
3. Sequence Types:	list, tuple, range
4. Mapping Type:	dict
5. Set Types:	set, frozenset
6. Boolean Type:	bool
7. Binary Types:	bytes, bytearray, memoryview
8. None Type:	NoneType

## Getting Data Type
We can get data type of any object using type() function.

In [1]:
num = 10
print(type(num))

<class 'int'>

In [3]:
name = "Abdullah"
print(type(name))

<class 'str'>

In [4]:
num1 = 10.5
print(type(num1))

<class 'float'>

## Setting Data type
The data type is set when we assign value to a variable.

In [9]:
num = 100
name = "Abdullah"
num2 = 50.3
num3 = 5j
birds = ["Eagle", "Parrot", "Pigeon"]

print(type(num))
print(type(name))
print(type(num2))
print(type(num3))
print(type(birds))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'list'>

## Setting Specific Data Type
If we want to specify the data type, We can use the constructor function.

In [10]:
name = str("Abdullah")
num = int(10)
num3 = float(15.3)
birds = list(("Eagle", "Parrot", "Pigeon"))
fruits = tuple(("Mango", "Banana", "Apple"))

print(name)
print(num)
print(num3)
print(birds)
print(fruits)

Abdullah
10
15.3
['Eagle', 'Parrot', 'Pigeon']
('Mango', 'Banana', 'Apple')