# Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'Abdullah' is the same as "Abdullah".

In [2]:
print("I am 'Abdullah khan'")
print("it's my full name")
print('I like reading "books"')

I am 'Abdullah khan'
it's my full name
I like reading "books"

### Multi Lines string
We can assign a multiline string to a variable by using three quotes:

In [3]:
name = "My name is Abdullah khan Afridi, I am from District Khyber, Pakistan"
print(name)

My name is Abdullah khan Afridi, I am from District Khyber, Pakistan

## String Are Array
Like many other popular programming languages, strings in Python are arrays of unicode characters.

In [13]:
name = "Abdullah khan"
# we use square bracket to access elements of strings.
print(name[2])
print(name[5])
print(name[9])
print(name[3:8])

d
l
k
ullah

### loop through string

In [9]:
for element in "Khan":
     print(element)

K
h
a
n

### String length

In [10]:
name = "Abdullah khan"
print(len(name))

13

# String Slicing
Slicing is used to return range of characters of a string.

In [14]:
name = "Hello, world"
print(name[2:5])

llo

In [15]:
# Slice from start to index 5
name = "Hello, world"
print(name[:5])

Hello

In [16]:
# Slice from index 2 to end
name = "Hello, world"
print(name[2:])

llo, world

In [18]:
# Use negative indexes to start the slice from the end of the string.
name = "Hello, world"
print(name[-4:-1])

orl

In [21]:
name = "Hello, world"
print(name[-9:-2])

lo, wor

# String Modification
Python has a set of built-in methods that you can use to modify strings

In [24]:
# UPPER CASE
name = "abdullah khan"
print(name.upper())

ABDULLAH KHAN

In [26]:
# lower case
name = "ABDULLAH KHAN"
print(name.lower())

abdullah khan

In [28]:
# Remove white spaces before and after string 
name = " Abdullah khan   "
print(name.strip())

Abdullah khan

In [30]:
# The replace() method is used to replace character of string with another characters.
name = "Abdullah khan"
print(name.replace("A", "E"))

Ebdullah khan

In [32]:
# The split() method returns a list where the text between the specified separator becomes the list items
name = "Abdullah, khan"
print(name.split(","))

['Abdullah', ' khan']

# String Concatenation

In [35]:
# To concatenate, or combine, two strings you can use the + operator
first_name = "Abdullah "
last_name = "khan"
full_name = first_name + last_name
print(full_name)

Abdullah khan

# Format String
As we learned in the Python earlier, we cannot combine strings and numbers like this

In [37]:
age = 23
name = "My name is Abdullah, I am " + age
print(name)

TypeError: can only concatenate str (not "int") to str

In [38]:
# Note: But we can combine strings and numbers by using f-strings or the format() method

## F-String
F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [39]:
age = 23
name = f"My name Abdullah, I am {age} years old."
print(name)

My name Abdullah, I am 23 years old.

In [40]:
# A placeholder can contain Python code, like math operations
value = f"The price of new book is {10 + 15} dollars."
print(value)

The price of new book is 25 dollars.

# Escape character 
To insert characters that are illegal in a string, use an escape character.
An escape character is a backslash \ followed by the character you want to insert.
An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [41]:
txt = "We are the so-called "Vikings" from the north."
print(txt)

SyntaxError: invalid syntax (4013392309.py, line 1)

In [42]:
# To fixt this use escape character.
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.