# Python Operators
Operators are used to perform operations on variables and values

## Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations

In [8]:
x = 35
y = 4

# Addition
print(x + y)

#Subtraction
print(x - y)

#Multiplication
print(x * y)

39
31
140

In [2]:
#Division (Return float value)
print(x / y)

8.75

In [6]:
# Modulo (Return remainder of division operation)
print(x % y)

3

In [5]:
# Floor division always returns an integer, It rounds DOWN to the nearest integer
print(x // y)

8

In [7]:
# Exponentiation (Power Operator), an arithmetic operator, it raises the first number to the power of the second
print(x ** y)

1500625

# Assignment Operators
Assignment operators are used to assign values to variables

In [9]:
x = 10

print(x)

10

In [10]:
x = 5

# same as x = x + 3
x += 3

print(x)

8

In [11]:
x = 6

# same as x = x - 2
x -= 2

print(x)

4

In [12]:
x = 4

# same as x = x * 3
x *= 3

print(x)

12

In [16]:
x = 20

# same as x = x / 3
x /= 4

print(x)

5.0

# Comparison Operators
Comparison operators are used to compare two values

In [20]:
x = 15
y = 12

# Equal
print(x == y)

# Not Equal
print(x != y)

# Greater Than
print(x > y)

# less than
print(x < y)

# Greater than or Equal
print(x >= y)

# Less than or equal
print(x <= y)

False
True
True
False
True
False

# Logical Operators
Logical operators are used to combine conditional statements

### and operator
Return true if both statement are true.

In [21]:
x = 10

print(x > 0 and x < 20)

True

### or operator
Returns True if one of the statements is true

In [23]:
x = 5

print(x < 6 or x > 10)
print(x < 4 or x > 10)

True
False

### not operator
Reverse the result, returns False if the result is true

In [27]:
x = 5

# Here result should be True, but not operator make it false
print(not(x == 5))

# Here result should be False, but not operator make it True.
print(not(x != 5))

False
True

# Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location.

### is operator
Returns True if both variables are the same object

In [29]:
x = ["Eagle", "Parrot"]
y = ["Eagle", "Parrot"]
z = x

# is - Checks if both variables point to the same object in memory
# z and x both point to first objects in memory.
print(x is z)

# Return False, because both objects have different places in memory
print(x is y)

# ==  Checks if the values of both variables are equal
print(x == y)

True
False
True

### is not operator
The is not operator returns True if both variables do not point to the same object

In [30]:
x = ["Eagle", "Parrot"]
y = ["Eagle", "Parrot"]

print(x is not y)

True

# Membership Operators
Membership operators are used to test if a sequence is presented in an object

### in operator
Returns True if a specified value is present in the object

In [32]:
birds = ["Eagle", "Parrot", "Pigeon"]

print("Parrot" in birds)
print("Falcon" in birds)

True
False

### not in operator
Returns True if a specified value is not present in the object

In [35]:
birds = ["Eagle", "Parrot", "Pigeon"]

print("Sparrow" not in birds)
print("Eagle" not in birds)

True
False

## Membership operator in string
Membership operator also works in string

In [38]:
name = "Abdullah Khan"

print("A" in name)
print("abdullah" in name)
print("afridi" not in name)

True
False
True

# Bitwise Operators
Bitwise operators are used to compare (binary) numbers

### & operator (name AND)
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0

In [40]:
# The binary representation of 6 is 0110
# The binary representation of 3 is 0011

print( 6 & 3)

#Then the & operator compares the bits and returns 0010, which is 2 in decimal.

2

### | operator (name OR)
The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0

In [43]:
# The binary representation of 6 is 0110
# The binary representation of 3 is 0011

print( 6 | 3)
#Then the | operator compares the bits and returns 0111, which is 7 in decimal.

7