# Python Lists
Lists are used to store multiple items in a single variable.

List items are ordered, changeable, and allow duplicate values.
List items are indexed, the first item has index [0], the second item has index [1] etc.

Lists are one of 4 built-in collection data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

In [3]:
birds = ["Eagle", "Parrot", "Pigeon", "Falcon", "Dov"]

print(birds)

['Eagle', 'Parrot', 'Pigeon', 'Falcon', 'Dov']

### Order of List
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.
If you add new items to a list, the new items will be placed at the end of the list.

Note: There are some list methods (append, clear, extend, copy etc) that will change the order, but in general: the order of the items will not change.

### Changeable
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

### Allow Duplicates
Since lists are indexed, lists can have items with the same value

In [4]:
birds = ["Eagle", "Parrot", "Pigeon", "Eagle", "Falcon", "Dov"]

print(birds)

['Eagle', 'Parrot', 'Pigeon', 'Eagle', 'Falcon', 'Dov']

### List Length
To determine how many items a list has, use the len() function

In [5]:
birds = ["Eagle", "Parrot", "Pigeon", "Eagle", "Falcon", "Dov"]

print(len(birds))

6

### List Items - Data Types
List items can be of any data type

In [8]:
list_1 = ["Eagle", "Parrot", "Falcon"]
list_2 = [1,2,3,4,5]
list_3 = [True, False, True, False]

print(list_1)
print(list_2)
print(list_3)

['Eagle', 'Parrot', 'Falcon']
[1, 2, 3, 4, 5]
[True, False, True, False]

A list can contain different data types as well

In [7]:
my_list = ["Abdullah", 10, True, "Khan"]

print(my_list)

['Abdullah', 10, True, 'Khan']

### List Type
From Python's perspective, lists are defined as objects with the data type 'list'

In [9]:
birds = ["Eagle", "Parrot", "Pigeon", "Falcon", "Dov"]

print(type(birds))

<class 'list'>

### list Constructor
We can create list by list() consructor

In [10]:
birds = list(("Eagle", "Parrot", "Falcon"))

print(birds)

['Eagle', 'Parrot', 'Falcon']

# Access List Items
List items are indexed and you can access them by referring to the index number

In [12]:
birds = ["Eagle", "Parrot", "Pigeon", "Falcon", "Dov"]

# The first item has index 0
print(birds[0])
print(birds[1])

Eagle
Parrot

### Negative Indexing
Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc

In [14]:
birds = ["Eagle", "Parrot", "Pigeon", "Falcon", "Dov"]

print(birds[-1])
print(birds[-2])

Dov
Falcon

### Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [15]:
birds = ["Eagle", "Parrot", "Pigeon", "Falcon", "Dov", "Peacock", "Ostrich", "Nightingale"]

print(birds[2:5])

['Pigeon', 'Falcon', 'Dov']

By leaving out the start value, the range will start at the first item

In [16]:
birds = ["Eagle", "Parrot", "Pigeon", "Falcon", "Dov", "Peacock", "Ostrich", "Nightingale"]

print(birds[:5])

['Eagle', 'Parrot', 'Pigeon', 'Falcon', 'Dov']

By leaving out the end value, the range will go on to the end of the list

In [17]:
birds = ["Eagle", "Parrot", "Pigeon", "Falcon", "Dov", "Peacock", "Ostrich", "Nightingale"]

print(birds[2:])

['Pigeon', 'Falcon', 'Dov', 'Peacock', 'Ostrich', 'Nightingale']

### Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the list

In [19]:
birds = ["Eagle", "Parrot", "Pigeon", "Falcon", "Dov", "Peacock", "Ostrich", "Nightingale"]

# This will returns the items from "Dov" (-4) to, but NOT including "Nightingale" (-1)
print(birds[-4:-1])

['Dov', 'Peacock', 'Ostrich']

### Check if Item Exists
To determine if a specified item is present in a list use the in keyword

In [20]:
birds = ["Eagle", "Parrot", "Pigeon", "Falcon", "Dov"]

if "Pigeon" in birds:
    print("Yes, 'Pigeon' is in the birds list")

Yes, 'Pigeon' is in the birds list

# Change List Items
To change the value of a specific item, refer to the index number

In [1]:
birds = ["Eagle", "Parrot", "Pigeon", "Falcon", "Dov"]

birds[2] = "Ostrich"
print(birds)

['Eagle', 'Parrot', 'Ostrich', 'Falcon', 'Dov']

### Change a Range of Item Values
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values

In [3]:
birds = ["Eagle", "Parrot", "Pigeon", "Falcon", "Dov", "Peacock", "Ostrich", "Nightingale"]

birds[2:6] = ["Crow", "Duck", "Owl", "Crane"]
print(birds)

['Eagle', 'Parrot', 'Crow', 'Duck', 'Owl', 'Crane', 'Ostrich', 'Nightingale']

In [6]:
birds = ["Eagle", "Parrot", "Pigeon"]

# Change the second value by replacing it with two new values
birds[1:2] = ["Goose", "Duck"]
print(birds)

# Note: The length of the list will change when the number of items inserted does not match the number of items replaced

['Eagle', 'Goose', 'Duck', 'Pigeon']

In [9]:
birds = ["Eagle", "Parrot", "Pigeon"]

# Change the second and third value by replacing it with one value.
birds[1:3] = ["Falcon"]
print(birds)

['Eagle', 'Falcon']

### Insert Items
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index

In [11]:
birds = ["Eagle", "Parrot", "Pigeon"]

birds.insert(1, "Falcon")
print(birds)

# Note: As a result of the example above, the list will now contain 4 items

['Eagle', 'Falcon', 'Parrot', 'Pigeon']