# Add List Items
To add new item to the list we have some built in methods in python.

### Append
To add an item to the end of the list, use the append() method

In [7]:
birds = ["Eagle", "Parrot", "Pigeon"]

birds.append("Falcon")
print(birds)

['Eagle', 'Parrot', 'Pigeon', 'Falcon']

### Insert
To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index

In [8]:
birds = ["Eagle", "Parrot", "Pigeon"]

birds.insert(1, "Falcon")
print(birds)

['Eagle', 'Falcon', 'Parrot', 'Pigeon']

### Extend
To append elements from another list to the current list, use the extend() method

In [9]:
birds1 = ["Eagle", "Parrot", "Pigeon", "Falcon"]
birds2 = ["Crow", "Owl", "Dov", "Ostrich"]

birds1.extend(birds2)
print(birds1)
# The elements of birds2 list will be added to the end of birds1 list.

['Eagle', 'Parrot', 'Pigeon', 'Falcon', 'Crow', 'Owl', 'Dov', 'Ostrich']

### Add Any Iterable
The extend() method do not only append lists, We can add any iterable object (tuples, sets, dictionaries etc.).

In [10]:
birds_list = ["Eagle", "Parrot", "Pigeon", "Falcon"]
birds_tuple = ["Crow", "Peacock", "Dov", "Ostrich"]

birds_list.extend(birds_tuple)
print(birds_list)

['Eagle', 'Parrot', 'Pigeon', 'Falcon', 'Crow', 'Peacock', 'Dov', 'Ostrich']

# Remove List Items
To remove existing items from the list we have some built in methods in python,

### Remove Method
The remove() method removes the specified item.

In [14]:
birds = ["Eagle", "Parrot", "Pigeon", "Falcon"]

birds.remove("Parrot")
print(birds)

['Eagle', 'Pigeon', 'Falcon']

If there are more than one item with the specified value, the remove() method removes the first occurrence

In [15]:
birds = ["Eagle", "Parrot", "Pigeon", "Falcon", "Parrot"]

birds.remove("Parrot")
print(birds)

['Eagle', 'Pigeon', 'Falcon', 'Parrot']

### Pop Method
The pop() method removes the specified index.

In [16]:
birds = ["Eagle", "Parrot", "Pigeon", "Falcon"]

birds.pop(2)
print(birds)

['Eagle', 'Parrot', 'Falcon']

If you do not specify the index, the pop() method removes the last item.

In [17]:
birds = ["Eagle", "Parrot", "Pigeon", "Falcon"]

birds.pop()
print(birds)

['Eagle', 'Parrot', 'Pigeon']

### del keyword
The del keyword also removes the specified index.

In [18]:
birds = ["Eagle", "Parrot", "Pigeon", "Falcon"]

del birds[1]
print(birds)

['Eagle', 'Pigeon', 'Falcon']

The del keyword can also delete the list completely.

In [21]:
birds = ["Eagle", "Parrot", "Pigeon", "Falcon"]

del birds
print(birds)

# Will get error because we had already deleted the birds list.

NameError: name 'birds' is not defined

### Clear method
The clear() method empties the list.

The list still remains, but it has no content

In [22]:
birds = ["Eagle", "Parrot", "Pigeon", "Falcon"]

birds.clear()
print(birds)

[]

# Loop Through Lists
We can loop through the list items by using a for and while loop.

### for loop
Using for loop we can print all items in the list, one by one

In [30]:
birds = ["Eagle", "Parrot", "Pigeon", "Falcon"]

for bird in birds:
    print(bird)

Eagle
Parrot
Pigeon
Falcon

### Loop Through the Index Numbers
We can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [31]:
birds = ["Eagle", "Parrot", "Pigeon", "Falcon"]

for b in range(len(birds)):
    print(b)

0
1
2
3

### While Loop
We can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [33]:
birds = ["Eagle", "Parrot", "Pigeon", "Falcon"]

b = 0
while b < len(birds):
    print(birds[b])
    b = b + 1

Eagle
Parrot
Pigeon
Falcon