# Python Tuples
A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets

In [38]:
birds_tuple = ("Eagle", "Parrot", "Falcon", "Pigeon")
print(birds_tuple)

('Eagle', 'Parrot', 'Falcon', 'Pigeon')

### Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change

### Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

In [39]:
# If we want to add an item to tuple, it will throw an error.
birds_tuple = ("Eagle", "Parrot", "Falcon", "Pigeon")
birds_tuple.append("Sparrow")
print(birds_tuple)

AttributeError: 'tuple' object has no attribute 'append'

### Allow Duplicates
Since tuples are indexed, they can have items with the same value:

In [40]:
birds_tuple = ("Eagle", "Parrot", "Falcon", "Eagle", "Pigeon")
print(birds_tuple)

('Eagle', 'Parrot', 'Falcon', 'Eagle', 'Pigeon')

### Tuple Length
To determine how many items a tuple has, use the len() function:

In [41]:
birds_tuple = ("Eagle", "Parrot", "Falcon", "Eagle", "Pigeon")
print(len(birds_tuple))

5

### type() Method
From Python's perspective, tuples are defined as objects with the data type 'tuple':

In [42]:
birds_tuple = ("Eagle", "Parrot", "Falcon", "Pigeon")
print(type(birds_tuple))

<class 'tuple'>

### Create Tuple With One Item
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [43]:
bird_tuple = ("Eagle",)
print(type(bird_tuple))

# Not a tuple
bird = ("Eagle")
print(type(bird))

<class 'tuple'>
<class 'str'>

### Items - Data Types
Tuple items can be of any data type:

In [44]:
tuple1 = ("Eagle", "Parrot", "Falcon", "Pigeon")
tuple2 = (1,2,3,4,5,6)
tuple3 = (True, False, True, True, False)
print(tuple1)
print(tuple2)
print(tuple3)

# A tuple can contain different data types as well.
mix_tuple = ("Eagle", 10, 5, True, "Pigeon", False)
print(mix_tuple)

('Eagle', 'Parrot', 'Falcon', 'Pigeon')
(1, 2, 3, 4, 5, 6)
(True, False, True, True, False)
('Eagle', 10, 5, True, 'Pigeon', False)

### tuple() Constructor
We can also possible to use the tuple() constructor to make a tuple.

In [45]:
birds_tuple = tuple(("Eagle", "Parrot", "Falcon", "Pigeon"))
print(birds_tuple)

('Eagle', 'Parrot', 'Falcon', 'Pigeon')

# Access Tuple Items
We can access tuple items by referring to the index number, inside square brackets:

In [46]:
birds_tuple = ("Eagle", "Parrot", "Falcon", "Pigeon")
print(birds_tuple[0])
print(birds_tuple[1])

Eagle
Parrot

### Range of Indexes
We can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [47]:
birds_tuple = ("Eagle", "Parrot", "Falcon", "Pigeon", "Sparrow", "Crow")
print(birds_tuple[2:5])

#Note: The search will start at index 2 (included) and end at index 5 (not included).

('Falcon', 'Pigeon', 'Sparrow')

By leaving out the start value, the range will start at the first item:

In [48]:
birds_tuple = ("Eagle", "Parrot", "Falcon", "Pigeon", "Sparrow", "Crow")
print(birds_tuple[:4])

('Eagle', 'Parrot', 'Falcon', 'Pigeon')

By leaving out the end value, the range will go on to the end of the tuple:

In [49]:
birds_tuple = ("Eagle", "Parrot", "Falcon", "Pigeon", "Sparrow", "Crow")
print(birds_tuple[1:])

('Parrot', 'Falcon', 'Pigeon', 'Sparrow', 'Crow')

### Negative Indexing
Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc

In [50]:
birds_tuple = ("Eagle", "Parrot", "Falcon", "Pigeon", "Sparrow", "Crow")
print(birds_tuple[-1])
print(birds_tuple[-2])

Crow
Sparrow

### Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the tuple:

In [51]:
birds_tuple = ("Eagle", "Parrot", "Falcon", "Pigeon", "Sparrow", "Crow")
print(birds_tuple[-4:-1])

#Note: The search will returns the items from index -4 (included) to index -1 (excluded).

('Falcon', 'Pigeon', 'Sparrow')

### Check if Item Exists
To determine if a specified item is present in a tuple use the in keyword:

In [52]:
birds_tuple = ("Eagle", "Parrot", "Falcon", "Pigeon", "Sparrow", "Crow")
if "Falcon" in birds_tuple:
    print("Yes 'Falson' exist in the birds tuple.")

Yes 'Falson' exist in the birds tuple.