# Update Tuples
Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [1]:
birds_tuple = ("Eagle", "Pigeon", "Parrot", "Falcon")

# Convert tuple into list
birds_list = list(birds_tuple)

# Change value in the list 
birds_list[2] = "Ostrich"

# Convert list into tuple again.
birds_tuple = tuple(birds_list)

print(birds_tuple)

('Eagle', 'Pigeon', 'Ostrich', 'Falcon')

### Add Items
Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [2]:
birds_tuple = ("Eagle", "Pigeon", "Parrot", "Falcon")

# Convert tuple into list 
birds_list = list(birds_tuple)

# add value in the list 
birds_list.append("Crow")

# Convert list into tuple again.
birds_tuple = tuple(birds_list)

print(birds_tuple)

('Eagle', 'Pigeon', 'Parrot', 'Falcon', 'Crow')

2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [4]:
birds_tuple = ("Eagle", "Pigeon", "Parrot", "Falcon")

# Create a new tuple with the value "Sparrow"
new_tuple = ("Sparrow",)

# add the new tuple with the existing tuple.
birds_tuple = birds_tuple + new_tuple

print(birds_tuple)

('Eagle', 'Pigeon', 'Parrot', 'Falcon', 'Sparrow')

### Remove Items
Tuples are unchangeable, so We cannot remove items from it, but We can use the same workaround as we used for changing and adding tuple items:

In [6]:
birds_tuple = ("Eagle", "Pigeon", "Parrot", "Falcon")

# Convert tuple into list 
birds_list = list(birds_tuple)

# remove value in the list 
birds_list.remove("Parrot")

# Convert list into tuple again.
birds_tuple = tuple(birds_list)

print(birds_tuple)

('Eagle', 'Pigeon', 'Falcon')

In [7]:
# We can delete the tuple completely.
birds_tuple = ("Eagle", "Pigeon", "Parrot", "Falcon")

del birds_tuple 

#this will raise an error because the tuple no longer exists
print(birds_tuple)

NameError: name 'birds_tuple' is not defined

# Unpack Tuples
When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [9]:
# Packing a tuple
birds_tuple = ("Eagle", "Pigeon", "Parrot", "Falcon")

# Unpacking a tuple
(ea, pi, pa, fa) = birds_tuple

# Note: The number of variables must match the number of values in the tuple,
# if not, you must use an asterisk to collect the remaining values as a list.
print(ea)
print(pi)
print(pa)
print(fa)

Eagle
Pigeon
Parrot
Falcon

### Using Asterisk*
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list

In [10]:
birds_tuple = ("Eagle", "Pigeon", "Parrot", "Falcon","Crow", "Sparrow")

(bird1, bird2, *other_birds) = birds_tuple

print(bird1)
print(bird2)
print(other_birds)

Eagle
Pigeon
['Parrot', 'Falcon', 'Crow', 'Sparrow']

In [12]:
# If the asterisk is added to another variable name than the last,
# Python will assign values to the variable until the number of values left matches the number of variables left

birds_tuple = ("Eagle", "Pigeon", "Parrot", "Falcon", "Crow", "Sparrow")

(bird1, *other_birds, unknown_bird) = birds_tuple

print(bird1)
print(other_birds)
print(unknown_bird)

Eagle
['Pigeon', 'Parrot', 'Falcon', 'Crow']
Sparrow

# Loop Tuples

### for loop
You can loop through the tuple items by using a for loop.

In [15]:
birds_tuple = ("Eagle", "Pigeon", "Parrot", "Falcon")

for bird in birds_tuple:
    print(bird)

Eagle
Pigeon
Parrot
Falcon

### loop through index number
You can also loop through the tuple items by referring to their index number.

Use the range() and len() functions to create a suitable iterable

In [18]:
birds_tuple = ("Eagle", "Pigeon", "Parrot", "Falcon")

for bird in range(len(birds_tuple)):
    print(birds_tuple[bird])

Eagle
Pigeon
Parrot
Falcon

### While Loop
You can loop through the tuple items by using a while loop.

Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [1]:
birds_tuple = ("Eagle", "Pigeon", "Parrot", "Falcon")

bird = 0

while bird < len(birds_tuple):
    print(birds_tuple[bird])
    bird = bird + 1

Eagle
Pigeon
Parrot
Falcon

# Join Tuples

### Join Two Tuples
To join two or more tuples you can use the + operator:

In [3]:
tuple1 = ("a", "b", "c", "d")
tuple2 = (1, 2, 3, 4, 5)

tuple3 = tuple1 + tuple2

print(tuple3)

('a', 'b', 'c', 'd', 1, 2, 3, 4, 5)

### Multiply tuple items
If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [4]:
birds_tuple = ("Eagle", "Pigeon", "Parrot", "Falcon")

new_tuple = birds_tuple * 2

print(new_tuple)

('Eagle', 'Pigeon', 'Parrot', 'Falcon', 'Eagle', 'Pigeon', 'Parrot', 'Falcon')

# Tuple Method
Python has two built-in methods that you can use on tuples.

### count() method
Returns the number of times a specified value occurs in a tuple

In [5]:
birds_tuple = ("Eagle", "Pigeon", "Parrot", "Falcon", "Eagle")

my_tuple = birds_tuple.count("Eagle")

print(my_tuple)

2

### index() method
Searches the tuple for a specified value and returns the position of where it was found

In [7]:
birds_tuple = ("Eagle", "Pigeon", "Parrot", "Falcon", "Eagle")

new_tuple = birds_tuple.index("Falcon")

print(new_tuple)

3