# Remove Set Items
To remove an item in a set, use the remove(), or the discard() method.

In [2]:
birds_set = {"Eagle", "Pigeon", "Parrot", "Falcon"}

birds_set.remove("Parrot")

print(birds_set)

#Note: If the item to remove does not exist, remove() will raise an error.

{'Eagle', 'Falcon', 'Pigeon'}

### discard() method.
If the item to remove does not exist, discard() will NOT raise an error.

In [7]:
birds_set = {"Eagle", "Pigeon", "Parrot", "Falcon"}

birds_set.discard("Crow")

print(birds_set)

{'Parrot', 'Eagle', 'Falcon', 'Pigeon'}

### pop() method
You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the pop() method is the removed item.

In [9]:
birds_set = {"Eagle", "Pigeon", "Parrot", "Falcon"}

new_set = birds_set.pop()

print(new_set)
print(birds_set)

Parrot
{'Eagle', 'Falcon', 'Pigeon'}

### clear() method.
The clear() method empties the set:

In [10]:
birds_set = {"Eagle", "Pigeon", "Parrot", "Falcon"}

birds_set.clear()

print(birds_set)

set()

### del keyword
The del keyword will delete the set completely:

In [12]:
birds_set = {"Eagle", "Pigeon", "Parrot", "Falcon"}

del birds_set

# It will throw an error, because we have already deleted the set.
print(birds_set)

NameError: name 'birds_set' is not defined

# Loop Sets
You can loop through the set items by using a for loop:

In [13]:
birds_set = {"Eagle", "Pigeon", "Parrot", "Falcon"}

for bird in birds_set:
    print(bird)

Parrot
Eagle
Falcon
Pigeon

# Join Sets
There are several ways to join two or more sets in Python, Each of them are discuss below.

## Union 
The union() method returns a new set with all items from both sets.

In [14]:
set1 = {"a", "b", "c", "d"}
set2 = {1, 2, 3, 4}

set3 = set1.union(set2)

print(set3)

{1, 2, 3, 4, 'a', 'b', 'd', 'c'}

In [27]:
# We can use the | operator instead of the union() method, and you will get the same result.
set1 = {"a", "b", "c", "d"}
set2 = {1, 2, 3, 4}

set3 = set1 | set2

print(set3)

{1, 2, 3, 4, 'a', 'b', 'd', 'c'}

### Join Multiple Sets
All the joining methods and operators can be used to join multiple sets.

When using a method, just add more sets in the parentheses, separated by commas:

In [16]:
birds_set = {"Eagle", "Pigeon", "Parrot", "Falcon"}
num_set = {1, 2, 3, 4}
bool_set = {True, True, False}
fruits_set = {"Apple", "Mango", "Orange"}

mix_set = birds_set.union(num_set, bool_set, fruits_set)

print(mix_set)

{'Parrot', 1, 'Eagle', 'Pigeon', 2, 'Falcon', 3, 4, False, 'Apple', 'Orange', 'Mango'}

In [17]:
# When using the | operator, separate the sets with more | operators:
birds_set = {"Eagle", "Pigeon", "Parrot", "Falcon"}
num_set = {1, 2, 3, 4}
bool_set = {True, True, False}
fruits_set = {"Apple", "Mango", "Orange"}

mix_set = birds_set | num_set | bool_set | fruits_set

print(mix_set)

{'Parrot', 1, 'Eagle', 'Pigeon', 2, 'Falcon', 3, 4, False, 'Apple', 'Orange', 'Mango'}

### Join a Set and a Tuple
The union() method allows you to join a set with other data types, like lists or tuples.

The result will be a set.

In [19]:
str_set = {"a", "b", "c"}
num_set = (1, 2, 3)

mix_set = str_set.union(num_set)
print(mix_set)

# Note: The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.

{1, 2, 3, 'a', 'b', 'c'}

## Update
The update() method inserts all items from one set into another.

The update() changes the original set, and does not return a new set.

In [23]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3, 2}

set1.update(set2)
print(set1)

#Note: Both union() and update() will exclude any duplicate items.

{1, 'b', 2, 3, 'c', 'a'}

# Intersection
Keep ONLY the duplicates

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [25]:
birds_set1 = {"Eagle", "Pigeon", "Parrot", "Falcon"}
birds_set2 = {"Falcon", "Crow", "Sparrow", "Eagle"}

new_set = birds_set1.intersection(birds_set2)

print(new_set)

{'Eagle', 'Falcon'}

In [35]:
# We can use the & operator instead of the intersection() method, and you will get the same result.
birds_set1 = {"Eagle", "Pigeon", "Parrot", "Falcon"}
birds_set2 = {"Falcon", "Crow", "Sparrow", "Eagle"}

new_set = birds_set1 & birds_set2

print(new_set)

# Note: The & operator only allows you to join sets with sets, and not with other data types like you can with the intersection() method.

{'Eagle', 'Falcon'}

### intersection_update()
The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [28]:
birds_set1 = {"Eagle", "Pigeon", "Parrot", "Falcon"}
birds_set2 = {"Falcon", "Crow", "Sparrow", "Eagle"}

birds_set1.intersection_update(birds_set2)

print(birds_set1)

{'Eagle', 'Falcon'}

# Difference
The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [29]:
birds_set1 = {"Eagle", "Pigeon", "Parrot", "Falcon"}
birds_set2 = {"Falcon", "Crow", "Sparrow", "Eagle"}

new_set = birds_set1.difference(birds_set2)

print(new_set)

{'Parrot', 'Pigeon'}

In [32]:
# We can use the - operator instead of the difference() method, and you will get the same result.
birds_set1 = {"Eagle", "Pigeon", "Parrot", "Falcon"}
birds_set2 = {"Falcon", "Crow", "Sparrow", "Eagle"}

new_set = birds_set1 - birds_set2

print(new_set)

# Note: The - operator only allows you to join sets with sets, and not with other data types like you can with the difference() method.

{'Parrot', 'Pigeon'}

# Frozenset
frozenset is an immutable version of a set.

Like sets, it contains unique, unordered, unchangeable elements.

Unlike sets, elements cannot be added or removed from a frozenset.

In [34]:
birds_set = frozenset({"Eagle", "Falcon", "Pigeon", "Parrot"})

print(birds_set)
print(type(birds_set))

# Being immutable means you cannot add or remove elements. However, frozensets support all non-mutating operations of sets,
# Like ( copy(), union(), intersection(), difference() )

frozenset({'Parrot', 'Eagle', 'Falcon', 'Pigeon'})
<class 'frozenset'>