# For Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [2]:
name = "Khan"
for x in name:
    print(x)

K
h
a
n

In [1]:
birds_list = ["Eagle", "Parrot", "Falcon", "Pigeon"]

for bird in birds_list:
    print(bird)

Eagle
Parrot
Falcon
Pigeon

### break Statement
With the break statement we can stop the loop before it has looped through all the items:

In [5]:
# Exit the loop when bird is "Parrot":
birds_list = ["Eagle", "Parrot", "Falcon", "Pigeon"]

for bird in birds_list:
    print(bird)
    if bird == "Parrot":
        break

Eagle
Parrot

In [4]:
birds_list = ["Eagle", "Parrot", "Falcon", "Pigeon"]

for bird in birds_list:
     if bird == "Parrot":
        break
     print(bird)

Eagle

### continue Statement
With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [12]:
# Skip Falcon and print others.
birds_list = ["Eagle", "Parrot", "Falcon", "Pigeon", "Dove"]

for bird in birds_list:
    if bird == "Falcon":
        continue
    print(bird)

Eagle
Parrot
Pigeon
Dove

### range() Function
To loop through a set of code a specified number of times, we can use the range() function,

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [15]:
for num in range(5):
    print(num)

# Note: that range(5) is not the values of 0 to 5, but the values 0 to 4.

0
1
2
3
4

In [26]:
# The range() function defaults to 0 as a starting value,
# however it is possible to specify the starting value by adding a parameter which is 2: range(2, 5),
# which means values from 2 to 5 (but not including 5)

In [17]:
for num in range(2, 5):
    print(num)

2
3
4

In [27]:
# The range() function defaults to increment the sequence by 1,
# however it is possible to specify the increment value by adding a third parameter which is 4: range(2, 20, 4):

In [19]:
for num in range(2, 20, 4):
    print(num)

2
6
10
14
18

### Else in For Loop
The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [21]:
for num in range(5):
    print(num)
else:
    print("Finally loop ended")

0
1
2
3
4
Finally loop ended

### Nested Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [24]:
first = ["Small", "Medium", "Big"]
birds_list = ["Eagle", "Parrot", "Falcon", "Pigeon"]

for x in first:
    for y in birds_list:
        print(x, y)

Small Eagle
Small Parrot
Small Falcon
Small Pigeon
Medium Eagle
Medium Parrot
Medium Falcon
Medium Pigeon
Big Eagle
Big Parrot
Big Falcon
Big Pigeon

### pass Statement
for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [25]:
for num in range(5):
    pass